parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    #################################
    ##   TRANSLATIONS API ACCESS   ##
    #################################
    jlaso_translations_api_access:
        project_id: ? # the number that correspond to the project created
        key:  ?  # the key that systems assigns
        secret: ?  # the password that you choose when init project in server
        url: http://translations.com.es/api/
